html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.wrapper {
    margin: 20px auto;
    width: 1200px;
    height: 1800px;
}

body {
    font-family: 'Montserrat', sans-serif;
}
header {
    height: 300px;
    text-align: left;
    background-color: #3e3e3f;
    color: #f1f2f2;
}
.logo {
    height: 300px;
}
h1 {
    font-family: 'High Tide  Demo', cursive;
    font-size: 60px;
}
h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
}
h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}
.left-head {
    padding-left: 40px;
    float: left;
}
.right-head {
    padding: 100px 40px 0px 0px;
    float: right;
}
button {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}